#root{
  width: 100%;
  height: 100%;
}

.mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerControls{
  width: 30%;
  height: auto;
  background-color: #F6F6F6;
}

.containerMap{
  width: 70%;
  height: 100%;
}